
body{
    background: rgb(207, 223, 236);
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 300px;
    background: #fff;
    padding: 15px;
    border-radius: 15px;

}
img{
    width: 100%;
    border-radius: 15px;
}
h2, p{
    text-align: center;
    font-family: sans-serif;
    margin: 7px;
    padding: 10px;
}
p{
    
    font-size: 13px;
    margin-bottom: 20px;
}


