
body{
    background: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.box{
    width: 250px;
    background:  hsl(0, 0%, 100%);
    padding: 12px;
    border-radius: 15px;

}
.box img{
    width: 100%;
    border-radius: 15px;
}

h1, p{
    text-align: center;
    font-family: sans-serif;
}
p{
    font-size: 13px;
    margin: 0 10px 20px;
    line-height: 1.4;
    color: hsl(216, 15%, 48%);
}
h1{
    font-size: 18px;
    margin: 15px 10px 10px;
    color: hsl(218, 44%, 22%;
}
